<ion-view title="Food" id="page6">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list>
            <ion-item class="item-thumbnail-left" ui-sref="tabsController.redeemZeekS">
                <img src="img/7bjX2n4T3wTGcLLMcL7g_zeekslogo.jpg">
                <h2>15% off Zeek's</h2>
                <p>Downtown Provo</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="tabsController.redeemColdStone">
                <img src="img/gWPw9OYYSyADqEZxDzcg_coldStone.jpg">
                <h2>15% off Cold Stone Creamery</h2>
                <p>University Mall</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/mendlogo.png">
                <h2>15% off Mend Juicery</h2>
                <p>Provo Riverwoods</p>
            </ion-item>
        
        </ion-list>
    </ion-content>
</ion-view>