<ion-view title="Health/Fitness" id="page8">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list>
            <ion-item class="item-thumbnail-left" ui-sref="tabsController.redeemCrossfitXD">
                <img src="img/exQ4QZ8UTiCoMyjm8xpv_crossfit.jpg">
                <h2>15% off Crossfit XD Membership</h2>
                <p>Pleasant Grove Location</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Title</h2>
                <p>Item</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Title</h2>
                <p>Item</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Title</h2>
                <p>Item</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>