<ion-view title="Login" id="page13" hide-nav-bar="true">
    <ion-content overflow-scroll="true" padding="true" class="scroll-bg">
        <form class="list">
            <ion-list></ion-list>
            <div class="spacer" style="width: 300px; height: 366px;"></div>
            <a ui-sref="login2" id="login-button2" class="button button-energized  button-block">Log In</a>
            <a ui-sref="signup" id="login-button3" class="button button-positive  button-block button-clear">Set Up Account</a>
        </form>
    </ion-content>
</ion-view>