<ion-view title="Preferred Pricing Categories" id="page5" style="background-color:#000707;">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <a style="display:inline-block;" ui-sref="tabsController.food">
            <div style="text-align:center;">
                <img src="img/FCkjs1BHRzA1nhqbb0bv_zeeksburger.jpg" width="100%" height="auto">
            </div>
        </a>
        <a style="display:inline-block;" ui-sref="tabsController.fun">
            <div style="text-align:center;">
                <img src="img/HLoJXbUoQx2qtocKEaSW_fun.png" width="100%" height="185">
            </div>
        </a>
        <a style="display:inline-block;" ui-sref="tabsController.healthFitness">
            <div style="text-align:center;">
                <img src="img/FSbICTLYR7ygQPGc096B_fitness.jpg" width="100%" height="auto">
            </div>
        </a>
        <a style="display:inline-block;" ui-sref="tabsController.services">
            <div style="text-align:center;">
                <img src="img/aKTk1QRjCajbxL3UBfDg_dental.jpg" width="100%" height="auto">
            </div>
        </a>
        <a style="display:inline-block;" ui-sref="tabsController.online">
            <div style="text-align:center;">
                <img src="img/kPyCO8YUSQKVFeBIUIIb_online.png" width="70%" height="195">
            </div>
        </a>
        <a style="display:inline-block;" ui-sref="tabsController.more">
            <div style="text-align:center;">
                <img src="img/60nk4ykRoyAgdSNYyTug_more2.jpg" width="100%" height="130">
            </div>
        </a>
        <ion-list></ion-list>
    </ion-content>
</ion-view>