<ion-view title="Redeem Crossfit XD" id="page23">
    <ion-content overflow-scroll="true" padding="true" class="has-header" ng-controller="redeemCrossfitXDCtrl">
        
        <a style="display:inline-block;" href="#" onclick="window.open('http://crossfitxd.com/', '_system', 'location=yes'); return false;">
            
            <div style="text-align:center;">
                <img src="img/x6icQTnUSWO6QR1SC7ga_crossfit1.jpg" width="100%" height="auto">
            </div>
        </a>
        <h2 id="redeemCrossfitXD-heading6" style="color:#000000;">15% off monthly membership</h2>
        <h4 id="redeemCrossfitXD-heading7" style="color:#000000;">Only valid at Crossfit XD in Pleasant Grove</h4>
        <div id="redeemCrossfitXD-markdown6" style="color:#000000;">
            <p>Get preferred pricing on your monthly membership at Crossfit XD for you AND your swole mate. Don't have a swole mate? Take a friend instead! EXPIRES XX/XX/XX</p>
        </div>
        <div id="redeemCrossfitXD-markdown11" style="color:#000000;">
            <p>Show to person receiving payment and have them press the "Redeem Now" button.</p>
        </div>
        <a href="tel:" id="redeemCrossfitXD-button8" style="font-size:22px;border-radius:6px 6px 6px 6px;" class="button button-energized  button-block" ng-controller="redeemPopupCtrl" ng-click="showPopup()">Redeem Now</a>
    </ion-content>
</ion-view>