<ion-view title="Redeem Zeek's" id="page11">
    <ion-content overflow-scroll="true" padding="true" class="has-header" ng-controller="redeemZeekSCtrl">
        <div style="text-align:center;">
            <img src="img/1maepcPRBOv4UohAEVdi_zeeksoreo.jpg" width="100%" height="auto">
        </div>
        <h2 id="redeemZeekS-heading5" style="color:#000000;">15% off any purchase</h2>
        <div id="redeemZeekS-markdown9" style="color:#000000;">
            <p>Would a pie shake really hit the spot? Show this to the person receiving payment and have them press the "Redeem Now" button below. EXPIRES XX/XX/XX</p>
        </div>
        <button id="redeemZeekS-button1" style="font-size:22px;" class="button button-energized  button-block" ng-controller="redeemPopupCtrl" ng-click="showPopup()">Redeem Now</button>
    </ion-content>
</ion-view>